* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.todo-app {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-window {
  background: white;
  min-height: 80vh;
  width: 60%;
  min-width: 600px;
  display: inline-block;
  background: linear-gradient(
    to right bottom,
    rgba(173, 250, 243, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 0.3rem;
  z-index: 20;
  backdrop-filter: blur(2rem);
  display: grid;
  grid-template-areas:
    "a a a"
    "b c c";

  grid-template-rows: 7% 93%;

  grid-template-columns: 20% 60% 20%;

  transition: grid 0.5s;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;

  border-radius: 50%;
  z-index: 10;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

.todo-categories {
  background: rgba(153, 153, 153, 0.404);
  grid-area: b;
  border-bottom-left-radius: 0.3rem;
}

.todo-list {
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-form {
  display: flex;
  width: 97%;
  display: flex;
  justify-content: right;
  background: #6ee7e9;
  margin: 0.3rem;
  border-radius: 0.3rem;
}

.todo-input {
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  margin: 0.3rem;
  background: transparent;
  padding-left: 1rem;
}

.category-input {
  background: rgba(122, 58, 58, 0.301);
  width: 90%;
  height: 2rem;
  outline: none;
  border: none;
  margin: 0.3rem;
  padding-left: 0.3rem;
  border-radius: 0.1rem;
}

.headerDiv {
  padding-left: 0.25rem;
  padding-top: 0.5rem;
  font-size: 2.5vh;

  color: rgba(0, 0, 0, 0.301);
  grid-area: a;
  background: rgba(180, 180, 180, 0.144);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.delete-icon {
  position: relative;
  top: 6px;
  margin-left: auto;
  margin-right: 1rem;
  fill-opacity: 0.5;
  display: none;
}

.delete-icon.Selected {
  display: block;
}

.edit-icon {
  margin-right: 1rem;
  fill-opacity: 0.5;
}

.edit-icon:hover {
  fill-opacity: 1;
}

.Category {
  padding: 0.25rem 0.5rem;
  margin-left: 0.1rem;
  background: rgba(223, 223, 223, 0);
  margin: 0.1rem 0.3rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  color: rgba(44, 44, 44, 0.589);
}

.Category:hover {
  color: rgba(44, 44, 44, 0.911);
  background: rgba(83, 83, 83, 0.767);
}

.Category.Selected {
  background: rgba(44, 44, 44, 0.438);
  color: white;
}

.categoryList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-task-nameChange-input.changeOngoing {
  background: transparent;

  outline: rgba(149, 221, 243, 0.411) 2px solid;

  border: solid;
  padding: 0.15rem;
  border: none;
  display: inline-block;
}

.todo-task-nameChange-input {
  display: none;
}

.todo-text.Completed {
  text-decoration: line-through;
}

.todo-text.changeOngoing {
  display: none;
}

.todo-info {
  background: rgba(153, 153, 153, 0.404);
  grid-area: d;
  border-bottom-right-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
}

.todo {
  display: flex;
}

.todo-secondary-text {
  color: rgba(100, 100, 100, 0.589);
  font-size: 0.6rem;
  display: block;
}

.todo-secondary-text.changeOngoing {
  display: none;
}

.todo-container {
  background: rgba(255, 255, 255, 0.308);
  border-radius: 0.2rem;
  margin: 0.2rem;
  padding-left: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.todo-container.Completed {
  background: #91919136;
}
.todo-container.Selected.Completed {
  background: rgba(128, 128, 128, 0.24);
}
.todo-container.Complted:hover {
  background: rgba(128, 128, 128, 0.212);
}
.todo-container.Selected.Completed:hover {
  background: rgba(128, 128, 128, 0.212);
}

.todo-container.Completed:hover {
  background: rgba(128, 128, 128, 0.212);
}

.todo-container.Selected {
  background: rgb(255, 255, 255);
}

.todo-container.Selected:hover {
  background: rgb(255, 255, 255);
}

.todo-container:hover {
  background: rgba(255, 255, 255, 0.637);
}

.calender-icon {
  position: relative;
  top: 0.1rem;
}
.dot-icon {
  position: relative;
  top: 0.1rem;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  top: 5rem;
}

.input {
  background-color: #919191;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  height: 100%;
  outline: 0;
  padding: 2px 15px;
  font-size: 15px;
  width: 100%;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder {
  color: rgb(250, 250, 250);
  transform: translateY(-15px) translateX(-5px) scale(0.75);
}

.chooseCategory.changeOngoing {
  display: block;
}

.chooseCategory {
  display: none;
}

select {
  margin-top: 0.5rem;
  width: 60%;
  outline: none;
  border: none;
  padding: 0.3rem;
  background: rgba(221, 221, 221, 0.459);
  top: calc(100% + 0.5rem);
  left: 0;
  box-sizing: border-box;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

option {
  margin: 0;
  padding: 1rem 0;
  outline: none;
  border-bottom: 1px solid rgba(204, 204, 204, 0.466);
}

option:first-child {
  padding-top: 0;
}

option:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.icon {
  margin-right: 0.3rem;
}
.icon:last-child {
  margin-right: 0rem;
}
.icon:hover {
  fill-opacity: 1;
}

.check-icon {
  fill-opacity: 0.5;
  margin-right: 1rem;
}
.check-icon:hover {
  fill-opacity: 1;
  color: red;
}

.calender {
  position: absolute;
  z-index: 1000;
}

.DateInput {
  display: flex;
}

.coverer {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: #91919162;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calenderContainer {
  padding: 0rem;
  background: transparent;
  width: 21.85rem;
  height: 21rem;
}
